@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #6288df14;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .timer {
    width: 500px;
    height: 250px;

    button {
      width: 40px;
      height: 40px;
      margin: 5px;
      border-radius: 50%;
      border: none;
    }
  }
}
